<nav class="navbar navbar-dark bg-dark fixed-top custom-navbar" >
  <div class="container-fluid d-flex align-items-center">

    <!-- Esquerda: botão + links -->
    <div class="d-flex align-items-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ms-5 mb-0 small-link" routerLink="pages/consultar-cliente">Ligações</a>
    </div>

    <!-- Direita: avatar com dropdown -->
    <div class="ms-auto dropdown">
      <a class="d-flex align-items-center text-decoration-none"
         href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://i.pravatar.cc/40" alt="Usuário" class="rounded-circle avatar">
      </a>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="userMenu">
        <li><h6 class="dropdown-header">Olá, Usuário</h6></li>
        <li><a class="dropdown-item" href="#">Meu perfil</a></li>
        <li><a class="dropdown-item" href="#">Configurações</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sair</a></li>
      </ul>
    </div>

    <!-- Offcanvas (menu lateral) -->
    <div class="offcanvas offcanvas-start offcanvas-custom" tabindex="-1"
         id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">LogNet URA</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Ligações</a>
          </li>          
        </ul>
        
      </div>
    </div>

  </div>
</nav>

